/bin/obj
/bin/*.exe
/bin/*.ilk
/bin/*.pdb
/bin/libdui.dll
/bin/libduid.dll
/lib/libdui.lib
/lib/libdui.exp
/lib/libduid.lib
/lib/libduid.exp
/lib/libutils.lib
/lib/libutilsd.lib
/lib/libstream.lib
/lib/libstreamd.lib
/lib/libmatting.lib
/lib/libmattingd.lib
/lib/libeffectd.lib
/lib/libeffect.lib
*.suo
*.sdf
*.opensdf
/ipch